<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-10 col-md-6 footer-info">
          <h3>SUGARLABS</h3>
          <p>At Sugar Labs, we make a collection of tools that learners use
            to explore, discover, create, and reflect. We are non-profit
            and led by volunteers. We distribute these tools freely and encourage
            our users to appropriate them, taking ownership and responsibility
            for their learning. Sugar Labs, a volunteer-driven, non-profit organization,
            had its origins in the One Laptop per Child project and is now a member project of
            the Software Freedom Conservancy. The mission of Sugar Labs is to support the Sugar
            community of users and developers and establish regional, autonomous “Sugar Labs”
            around the world to help learners “learn how to learn” by tailoring Sugar to local
            languages and curricula.
          </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="https://sugarlabs.org/" target="_blank">Sugar Labs Website</a></li>
            <li><a href="https://wiki.sugarlabs.org/" target="_blank">Sugar Labs Wiki</a></li>
            <li><a href="https://activities.sugarlabs.org/" target="_blank">Legacy Sugar Labs Activities (aslo)</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright
      <a href="https://github.com/srevinsaju"><strong>SugarLabs</strong></a>
    </div>
    <div class="credits">
      Open Source code on <a href="https://github.com/sugarlabs-appstore">Sugar Labs Appstore
          <i class="fa fa-github"></i> Repository</a> and Continuous Integration at <a href="https://github.com/srevinsaju/sugar-activity-build" target="_blank">Sugar Activity Build <i class="fa fa-github"></i> Repository </a>
    </div>
  </div>
</footer>
