<!-- Required meta tags -->
<meta charset="utf-8">
<!-- Mobile Responsive compatibility layer -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--SEO-->
<meta name="google-site-verification" content="4cFWArBrjTrZXtRxLvjgzDXntMi1u7MJ2RuyTjaKmC0" />
<meta name="Description" content="{{ catalog.description }}">
<meta property="og:url" content="{{ catalog.url }}" />
<!-- Enable caching -->
<meta http-equiv="cache-control" content="public">
<script>
    /* inline script checks User-Agent and returns to aslov1 if
       Sugar is being used on Fedora 18 / python2-only Sugar */
    ua = navigator.userAgent;
    SugarVersion = ua.match(/SugarLabs\/(\d+\.\d+)/);
    if (SugarVersion != null){
        if (parseFloat(SugarVersion[1]) <= 0.112) {
            console.log("Redirecting to Legacy ASLO (aslov1)")
            window.location.replace("https://activities.sugarlabs.org");
        }
    }

</script>

<!-- style.css -->
<link rel="stylesheet" href="{{ catalog.prefix }}/css/common.css">
<link rel="stylesheet" href="{{ catalog.prefix }}/css/search.css">
<link rel="stylesheet" href="{{ catalog.prefix }}/css/fun.css">
<link rel="stylesheet" href="{{ catalog.prefix }}/css/light.css">
<link rel="stylesheet" href="{{ catalog.prefix }}/css/dark.css">
<!-- Open Sans font -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap" rel="stylesheet">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<link rel="apple-touch-icon" sizes="57x57" href="{{ catalog.prefix }}/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ catalog.prefix }}/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ catalog.prefix }}/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ catalog.prefix }}/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ catalog.prefix }}/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ catalog.prefix }}/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ catalog.prefix }}/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ catalog.prefix }}/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ catalog.prefix }}/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ catalog.prefix }}/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ catalog.prefix }}/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ catalog.prefix }}/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ catalog.prefix }}/favicon/favicon-16x16.png">
<link rel="manifest" href="{{ catalog.prefix }}/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ catalog.prefix }}/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
