<!-- navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sass-navbar">
  <a class="navbar-brand" href="#">Sugar App Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      <li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/srevinsaju/sugar-activity-build#adding-your-bundles-xo">Add Activities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about.html">How it works?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/srevinsaju/sugar-activity-build"><i class="fa fa-github"></i></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-adjust"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a id="theme-dropdown" class="dropdown-item" onclick="enableDarkTheme()" href="#">
            <i class="fa fa-moon"></i> Dark theme</a>
          <a id="classic-dropdown" class="dropdown-item" onclick="enableMultiColorTheme()" href="#">
            <i class="fas fa-code"></i> Creative theme</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
