html {
    min-height: 100%;
}
body {
    /*background: rgb(11,0,209);
    background: linear-gradient(36deg, rgba(11,0,209,1) 0%, rgba(0,212,255,1) 100%);*/
    font-family: 'Open Sans', sans-serif !important;
    overflow-y:scroll;
}

.boring-gradient-bg {
    /* Add the boring gradient here */
    background: linear-gradient(270deg, #246655, #0086d2, #d100d2);
    background-size: 600% 600%;
}

.fun-gradient-animation-bg {
    /* Add some fun here */
    background: linear-gradient(270deg, #246655, #0086d2, #d100d2);
    background-size: 600% 600%;
    -webkit-animation: GradientFun 30s ease infinite;
    -moz-animation: GradientFun 30s ease infinite;
    -o-animation: GradientFun 30s ease infinite;
    animation: GradientFun 30s ease infinite;
    /* 
    Optimize CPU usage on Chromium 
    https://stackoverflow.com/questions/33313180/css-background-image-animation-high-cpu-usage
    */
    translate: translate3d(0, 0, 0)
}



@-webkit-keyframes GradientFun {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes GradientFun {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes GradientFun {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes GradientFun {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

h1 {
    font-weight: 700;
}

/*
==========================================
https://www.w3schools.com/howto/howto_css_switch.asp
The switch - the box around the slider 
*/
.switch {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1.5rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  transform: translateX(1rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 1rem;
}

.slider.round:before {
  border-radius: 50%;
} 