html {
    min-height: 100%;
}
body {

    /*background: rgb(11,0,209);
    background: linear-gradient(36deg, rgba(11,0,209,1) 0%, rgba(0,212,255,1) 100%);*/
    font-family: 'Open Sans', sans-serif !important;
    overflow-y:scroll;
    
    /* Add some fun here */
    background: linear-gradient(270deg, #246655, #0086d2, #d100d2);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

h1 {
    font-weight: 700;
}
.saas-activity-main {
    margin-top: 4rem;
}
.saas-activity-card-std {
    border-radius: 1.5rem;
    padding: 1rem
}
.saas-activity-download-button {
    border-radius: 1rem
}

.saas-activity-card-image {
    height: 25vh;
}

.saas-badge {
    margin: 1px;
    margin-bottom: 1rem;
    font-size: 1em
}