.saas-activity-main {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.saas-activity-card-std {
    border-radius: 1.5rem;
    padding: 1rem
}
.saas-activity-download-button {
    border-radius: 1rem
}

.saas-activity-card-image {
    height: 25vh;
    width: 25vh;
    left: 50%;
}

.saas-badge {
    margin-bottom: 2rem;
    font-size: 1em;
    padding-bottom: 0.5rem;
}