@font-face {
    font-family: "Quicksand-Regular";
/*     license: url("../fonts/Quicksand-Regular.txt"); */
    src: url("../fonts/Quicksand-Regular.ttf");
}

body {
/*     background-color: #f4ffac4d; */
    background-color: #fcfcfc;
    color: #00386c;
    font-family: Quicksand-Regular, roboto, sans-serif, monospace;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 900px;
    text-align: justify;
}

header {
    align-items: center;
    border-bottom: 0.15rem solid #470598;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-bottom: 1rem
}

#Heading {
    color: #099800; /*#00301fb3*/
    font-size: 250%;
    padding: 1rem;
    text-align: center;
}

#Heading a {
    color: #bfa800;
    text-decoration: underline ;
}

#Heading a:hover {
    color: #057e53 ;
}

h1 {
    clear: both;
    color: Crimson ;
    font-weight: normal;
    line-height: 1;
    margin-bottom: -0.25rem;
    text-align: center;
}

#color1 {
color: #0c007e;
}

#color1 a:hover {
color: DarkGoldenRod;
}

#color2 {
color: Crimson;
}

#color2 a:hover {
color: #9fbd06;
}

#color3 {
color: ForestGreen;
}

#color3 a:hover {
color: Teal;
}

#color4 {
color: DarkGoldenRod;
}

#color4 a:hover {
color: #4f08a7;
}

#color5 {
color: #90006b;
}

#color5 a:hover {
color: #08966e;
}

h2 {
    color: #0c007e;
    font-size: 175%;
    font-weight: normal;
    line-height: 1;
    margin-bottom: -0.25rem;
}

h3 {
    color: DarkGoldenRod;
    font-size: 150%;
    font-weight: normal;
    line-height: 1;
    margin-bottom: -0.25rem;
}

h4 {
    color: SeaGreen;
    font-size: 125%;
    font-weight: normal;
    line-height: 1;
    margin-bottom: -0.25rem;
}

h5 {
    color: Teal;
    font-size: 100%;
    font-weight: bold;
    margin-bottom: -0.25rem;
}

h6 {
    color: ForestGreen ;
    font-size: 100%;
    font-weight: normal;
}

#Date {
    color: #0b8f73;
    margin-bottom: -1rem;
}

p {
    color: #260000;
}

p a {
    color: #90006b;
}

a {
    color: inherit;
}

a:hover {
    color: #057e53 ;
}

img {
/*     background-color: Teal; */
    display: block; /*required for aligning image to center*/
    margin: auto; /*align image to center*/
    max-width: 100%;
}

hr {
    color: teal;
}


footer {
    border-top: 0.15rem solid #f60000;
    font-size: 85%;
    line-height: 1.5;
    margin-top: 2.5rem;
    text-align: center;
}
 
footer a {
    color: #400090;
}

#app_search {
    margin: auto;
    text-align: center;
    padding: 20px;
}
 
 /*=========================================*/

@media only screen and (min-width:10in) and (orientation:landscape) {
    body {
/*         margin: 0 5% 0 5%; */
    }
}

@media only screen and (max-width:1000px) {
    body {
        margin: 0 2% 0 2%;
        text-align: left;
    }
}

@media only screen and (orientation:portrait) {
    body {
        text-align: left;
    }
}
